<div id="storyboard">

    <div class="site-page-header">
        <h1>Story Board</h1>
    </div>

    <div class="story-board-content">
        <div class="container">
            <div class="row">
                <div class="sidebar col-xs-3 pull-left br-1px">
                    <div class="">sidebar</div>
                </div>

                <div class="main col-xs-9 pull-right">
                    <div class="sb-header row">
                        <div class="col-lg-8">
                           
                            <div class="row">
                                <div class="col-lg-3">
                                    <a href="/" class="btn btn-default">Add New</a>
                                </div>

                                <div class="col-lg-7">
                                    <input ng-model="search" type="text" class="form-control" placeholder="Search">
                                    </div>
                                <div class="col-lg-2">
                                    <button type="button" class="btn btn-default">
                                        Search
                                    </button>
                                    </div>
                                </div>
                          
                        </div>
                        <div class="col-lg-4">
                            <button type="button" class="btn btn-default">
                                ExpandAll
                            </button>

                            <button type="button" class="btn btn-default">
                                CollapseAll
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
